body {
    font-family: Arial, sans-serif;
    background-color: #333;
}

.container {
    text-align: center; /* Align content center */
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.social-icon {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    margin-right: 12px;
}

.social-icon li:last-child {
    margin-right: 0;
}

.social-icon li a {
    color: #fff;
    text-decoration: none;
    transition: fill 0.3s; /* Transition for smooth color change */
}

.social-icon li a:hover {
    fill: #8cdbe7; /* Change fill color on hover */
}

/* Change the fill color of the white part of the icons to dark pink on hover */
.social-icon li a:hover .white-part {
    fill: #00509d; /* Dark blue color */
}

/* Change the fill color of the path elements to dark pink on hover */
.social-icon li a:hover .a {
    fill: #ff69b4; /* Dark pink color */
}